.accountListMenu {
  position: fixed;
  width: 300px;
  top: 0;
  height: 100%;
  left: 0;
  background: #10705d;
  color: #fff;
  .accountListMenuHeader{
    margin: 0;
    padding: 5px;
    background: #16997f;
    font-weight: 500;
  }
  .accountList{
    list-style-type: none;
    margin: 0;
    padding: 5px 15px;
    overflow: auto;
    height: calc(100% - 34px);
  }
}