.accountListItem{
  margin: 3px 0;
  padding-bottom: 5px;
  border-bottom: solid 0.5px #15997e;
  a{
    color: inherit;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    .accountListItemName{
      width: 100%;
      position: relative;
    }
    &:hover{
      color: #c5c5c5;
    }
  }
  &.selectedAccountListItem{
        color: #15997e;
        background: #f9f9f9;
        padding: 4px;
  }
}