.accountListItem{
  margin: 3px 0px;
  a{
    color: inherit;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    &:hover{
      color: #a31800;
      font-weight: bold;
    }
  }
}