.summary{
  width: calc(100% - 300px);
  left: 300px;
  position: fixed;
  height: 100%;
  top: 0;
  .header{
    text-align: center;
    color: #10705d;
  }
  .summaryList{
    list-style-type: none;
    margin: 0;
    height: 0;
    text-align: center;
    .summaryItem{
      width: 46%;
      margin: 4px;
      height: 200px;
      float: left;
      background: #FAFAFA;
      color: #10705d;
      /* border: solid 0.5px #E0E0E0; */
      box-shadow: 0.5px 0.5px 0.5px #E0E0E0;
      .summaryItemHeader{
        font-weight: bolder;
        padding: 10px 0;
        font-size: 30px;
      }
      .summaryItemBody{
        font-size: 40px;
        padding-top: 20px
      }
    }
  }
}